.detail-produk{
    margin-top: 150px;
}
.img-produk img{
    width: 650px;
    margin-left: 20px;
}
.bestdeal {
    background: #E31010;
    width: 120px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
  }
.bestdeal:hover{
    -webkit-box-shadow: 14px 16px 65px 3px rgba(227,16,16,0.63);
    -moz-box-shadow: 14px 16px 65px 3px rgba(227,16,16,0.63);
    box-shadow: 14px 16px 65px 3px rgba(227,16,16,0.63);
}
